/*header starts here*/
.banner{
    width: 1320px;
    height: 600px;
    background-color: #00ffff;
    margin: 10px auto;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('assets/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner-item{
    width: 650px;
    height: 200px;
    color: #00ffff;
}