
/*Shared*/
*{
    margin: 0;
}
/*-------header starts here-------*/
.banner{
    width: 1320px;
    height: 600px;
    background-color: #00ffff;
    margin: 10px auto;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('assets/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-item{
    width: 700px;
    height: 300px;
    padding: 25px;
    font-family: 'Merriweather',serif;
    
}
.banner-greeting{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner-des{
    color: #FFF;
    text-align: center;                                                 
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

/*--------main section start here---------*/

/*discount section starts here*/
.discount{
    width: 900px;
    height: 900px;
    margin: 120px auto;
}
.discount-des{
    width: 420px;
    height: 330px;
    margin: 0px auto;
}
.discount-percent{
    color: #F00;
    text-align: center;
    font-family:'Inter';
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 55px;
}
.discount-holiday{
    color: #F00;
    text-align: center;
    font-family:'Inter';
    font-size: 24px;
    font-weight: 500;
}
.discoun-catagory{
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
.discount-img{
    margin: 25px auto;
    padding-left: 50px;
}

/*Party section*/

.party-section{
    width: 1320px;
    height: 600px;
    margin: 10px auto;
    border-radius: 16px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./assets/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.party-des-container{
    width: 750px;
    height: 500px;
    margin-left: 20px;
    padding: 15px;

}
.party-heading{
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 50px;
}
.party-des{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.party-img{
    width: 319.83px;
    height: 464.662px;
}
.join-btn{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-top: 50px;
}
.join-btn:hover{
    padding: 10px;
    border:1px solid #FFF;
    border-radius: 13px;
    color: #F00;
}

/*place date and time section*/

.place{
    width: 1320px;
    height: 530px;
    margin: 120px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.place-des{
    width: 600px;
    height: 250px;
    margin:0 auto;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.place-heading{
    text-align: center;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    margin: 10px;
}
.place-head-sp{
    color:#F00;
}
.btn-container{
    width: 170px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.btn-join{
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
}
.btn-join:hover{
    border:1px solid #dd0b0b;
    background:none;
    color: red;
}

/*offer sectin start here*/
.offer{
    width: 1320px;
    height: 530px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-des-container{
    width: 380px;
    height: 170px;
}
.offer-heading1{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.offer-heading2{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
}
.offer-des-container p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.offer-img-container{
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 100%;
}
.offer-img{
    position: relative;
    top: 48px;
    left: 48px;
}
.offer-greeting-container{
    width: 300px;
    height: 170px;
    position: relative;
    bottom: 30px;
}
.offer-greeting-container h3{
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}
.offer-greeting-container p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
}
/*holiday sales start here*/

.holiday-sales{
    width: 1320px;
    height: 910px;
    margin: 200px auto;
}

.holiday-des{
    width: 1070px;
    height: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.holiday-des p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.holiday-title{
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.holiday-heading{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 25px;
}
.holiday-img-container{
    width: 1320px;
    height: 675px;
}
.img-three{
    display: flex;
    justify-content: space-between;
}
.holiday-img1{
    width: 600px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 100px;
}
.holiday-img2{
    width: 220.048px;
    height: 220.119px;
    position: relative;
    top: 120px;
    left: 150px;
}
.holiday-img3{
    width: 429px;
    height: 433px;
    border-radius: 16px 16px 0px 0px;
}
/*gifts protfolio starts here*/

.gift-portfolio{
    width: 1320px;
    height: 1200px;
    margin: 120px auto;
}
.gift-des{
    width:900px;
    height: 250px;
    padding: 10px;
}

.gift-heading1{
    color: #F00;
    font-family:'Inter';
    font-size: 24px;
    font-weight: 500;
}
.gift-heading2{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gift-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}
.gift-container{
    width: 1320px;
    height: 950px;
}
.gift-row{
    display: flex;
    justify-content: space-between;
    width: 1310px;
    height: 470px;
    margin: 5px;
}
.gift{
    width: 424px;
    height: 450px;
    border-radius: 16px;
}
.gift:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.5);
}

/*Subscribe section starts here*/
 .subscribe{
    width: 1320px;
    height: 600px;
    margin: 10px auto;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .subscribe-item{
    width: 905px;
    height: 520px;
    padding-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: top;
    align-items: center;
 }
 .subscribe-img{
    margin-left: auto;
    margin-right: auto;
 }
 .subscribe-item h3{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 20px;
 }
 .subscribe-item p{
    text-align: center;
    color: rgba(7, 2, 17, 0.60); 
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 70px;
    line-height: 35px;
 }
 .subscribe-input{
    width: 520px;
    height: 65px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FFF;
    border-right: none;

    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    margin-right: 0px;
 }
 .subscribe-btn{
    margin-left: 0px;
    height: 67px;
    width: 168px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F00;
    
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

    position: relative;
    right: 10px;
    top: 1px;
 }

 /*-------footer section starts here-------*/

 .footer-sec{
    background: #070211;
 }
 .footer-container{
    width: 1320px;
    height: 600px;
    margin: 10px auto;
 }
 .footer-row{
    display: flex;
    justify-content: space-between;

 }
 .footer-address{
    width: 420px;
    height: 150px;
    padding-top: 50px;
    padding-left: 20px;
 }
 .footer-row p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin: 0px;
 }
 
 .footer-contact{
    width: 420px;
    height: 150px;
    padding-top: 50px;
    padding-left: 250px;
    
 }
 .footer-contact  p img{
    position: relative;
    top: 5px;
    right: 5px;
 }

 .social{
    width: 1320px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .social a{
    margin-left: 20px;
 }
 .footer-end{
    width: 1320px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .unsubscribe-btn{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    border: none;
    background:none;
 }
 .unsubscribe-btn:hover{
    border:1px solid #dd0b0b;
    background:none;
    color: red;
    padding: 10px;
    border-radius:13px;
 }
 hr{
    border-top: 1px solid  #070211;
 }